<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG sample"  >
    <test name="testng test" >
        <parameter name="url" value="http://testng.org/doc/documentation-main.html">

        </parameter>
        <classes>
            <class name="com.test.Google" />
        </classes>
    </test>

    <!--<test name="Regression1">-->
        <!--<classes>-->
            <!--<class name="test.sample.ParameterSample"/>-->
            <!--<class name="test.sample.ParameterTest"/>-->
        <!--</classes>-->

</suite>
